.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(80, 151, 9);
    height: 100px;
    width: 100%;
}

.header__titulo {
    margin-left: 7px;
}

.header__tabs {
    display: flex;
    margin-right: 20px;
}

.header .tab {
    margin-right: 30px;
    padding: 10px 20px;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    cursor: pointer;
}

.header .tab:last-child {
    margin-right: 0;
}

.header .tab:hover {
    background: rgb(103, 187, 19);
}