.info {
    height: 87.5vh;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    padding: 15px;
    text-align: left;
    background-color: rgb(67, 122, 11);
}

.info__titulo {
    margin: 15px;
}

.info__paragrafo {
    font-size: 1.2em;
}

.text {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 87.5vh;
    width: 80%;
}

.imagem {
    width: 50%;
}